<!--
 * @Author: your name
 * @Date: 2020-08-12 16:56:20
 * @LastEditTime: 2020-08-12 16:59:28
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \node-in-action\new era's node\login.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST" id="form1">
        <input type="text" name="username" id="username">
        <br>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>