<!--
 * @Author: your name
 * @Date: 2020-08-12 17:21:05
 * @LastEditTime: 2020-08-12 17:49:37
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \node-in-action\new era's node\views\upload.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="POST" name="form1" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>